@{ ViewData["Title"] = "Cadastro Realizado"; }

<link rel="stylesheet" href="~/css/Table.css" />



<div class="table-wrapper">

    <table class="fl-table">
        <thead>
            <tr>
                <th><h1>Cadastro realizado!</h1> </th>
            </tr>
        </thead>
    </table>
        <h2>Cadastro Realizado com sucesso!</h2>
        <br />
        <!--Botão que cadastra caso todos os requisitos sejam preenchidos-->
        <a  asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-default">Ok</a>
</div>
