@{ ViewData["Title"] = "Cadastro Não Realizado"; }

<link rel="stylesheet" href="~/css/Table.css" />



<div class="table-wrapper">

    <table class="fl-table">
        <thead>
            <tr>
                <th><h1>Cadastro não realizado :(</h1> </th>
            </tr>
        </thead>
    </table>
    <h2>Ocorreu um erro! Cadastro não realizado.</h2>
    <br />
    <h2>Tente Novamente! :)</h2>
    <br />
    <a href="javascript:history.back()" class="btn btn-default">Voltar</a>
</div>
