@{ ViewData["Title"] = "Cliente Deletado"; }

<link rel="stylesheet" href="~/css/Table.css" />



<div class="table-wrapper">

    <table class="fl-table">
        <thead>
            <tr>
                <th><h1>Cliente deletado!</h1> </th>
            </tr>
        </thead>
    </table>
    <h2>Cliente e seus pets deletado com sucesso!</h2>
    <br />
    <!--Botão que cadastra caso todos os requisitos sejam preenchidos-->
    <a asp-area="" asp-controller="Home" asp-action="Cliente" class="btn btn-default">Ok</a>
</div>
