@{
    ViewData["Title"] = "Home Page";
}

<div>  <h1>SEJA BEM VINDO</h1></div>
<div>

        <object type="text/html" data="https://github.com/moserarthur" width="800" height="600" style="overflow:auto;">
        </object>
    
</div>
